.proggress-wraper{
    height: 100%;
    display: flex;
    flex-grow:1 ;
}
.progress-cover{
    height: 100%;
    width:  100%;
    background-color: white;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    animation: fedIn 0.5s;
}
@keyframes fedIn{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}